<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <div class="row reviews">
      <header class='reviews-header'>
        <h2><em>Product Reviews</em></h2>
        <h3>
          <input type="number" name="rating" class="rating" value="<%= avg_by_child_hash_key(@product.reviews, :rating) %>" data-readonly/>
          <span>in <%= @product.reviews.size %> reviews</span>
        </h3>
      </header>
      <% if @user %>
        <h3>Please give us your review of this product</h3>
        <%= form_for [@product, @review] do |form| %>
          <div class="form-group">
            <%= form.label :rating, 'Rate this' %>
            <%= form.number_field :rating, class: 'rating', value: 0 %>
          </div>

          <div class="form-group">
            <%= form.label :description %>
            <%= form.text_field :description, class: 'form-control' %>
          </div>


          <%= form.submit 'Post your review', class: 'btn btn-primary' %>
        <% end %>
      <% end %>
      <% @reviews = @product.reviews.sort { |a,b| b.created_at <=> a.created_at }. each do |review| %>
        <% @object = {review: review, current_user: @user} %>
        <%= render "reviews/review", @object %>
      <% end %>
    </div>

  </article>

</section>
